.App {
  height: 100vh;
  padding: 0 40px;
}

.Nav-Container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.Nav-Items {
  display: flex;
  list-style: none;
}

.Nav-Item {
  padding-right: 20px;
}
